# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Env
.env
.env.local

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
.dockerignore

# Virtual environment
.venv/
